<style>

/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Helvetica;


}
h1 {
  margin-bottom: 15px;
  text-align: center;
  color: dimGray;
  font-family: Helvetica;
}

body{
  margin: 10px;
  padding: 0px;
  font-size: 20px;

}

.no {
    border: 1px solid black;
    padding: 0px;
    background-color: white;
    height: 100px;
    margin: 20px 10px;
    margin-top: 0;
    font-family: Helvetica;
}

p {
    clear: both;
    padding: 10px;
    line-height: 20px;
    text-align: justify;
    font-family: Helvetica;
    font-size: 75%;
}

#titolo1, #titolo2, #titolo3{
	float: right;
	border: 1px solid black;
    margin: -1px;
    background-color: lightSalmon;
    font-size: 75%;
}

#titolo2{
	background-color: paleGreen
}

#titolo3{
	background-color: mediumPurple
}

h2 {
    padding: 0 15px;
    line-height: 0;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** desktop **********/
@media (min-width: 992px) {
.col-lg-4{ float: left; width: 33.33%; }
}

/********** tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%; float: left;
  }
  .col-md-12 {
    width: 100%; float: left;
  }
}



/********** mobile **********/
@media (min-width: 767px) {}

</style>

